<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <title>홈</title>
</head>
<body>
<main layout:fragment="content">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${message}">Hello, Thymeleaf!</h1>
        <p class="lead">Spring Boot 게시판 프로젝트에 오신 것을 환영합니다.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" th:href="@{/boards}" role="button">게시판 바로가기</a>
    </div>
</main>
</body>
</html>
